* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section .box {
    height: 500px;
    background-color: tomato;
    color: white;
    box-sizing: border-box;
    padding: 30px 10px;
}

section .box:nth-child(2n) {
    background-color: teal;
}